@*View présentant deux listes, une permettant de filtrer l'autre
  Liste des Zombies filtrés par ZombieType en utilisant JavaScript et un ViewModel et une PartialView*@
@model ZombieParty_Models.ViewModels.ZombieCardVM
﻿@{
  ViewData["Title"] = "Index Page";
}

<div class="container p-3 DivBgForm">
  <div class="text-center">
    <button class="btn btn-primary filter-button" data-filter="all">All</button>
    @foreach (var obj in Model.ZombieTypes)
    {
      <button class="btn btn-outline-primary filter-button" data-filter="@obj.TypeName.Replace(' ','_')">
        @obj.TypeName
      </button>
    }
  </div>
  <br />
  <div class="row">
    @foreach (var item in Model.Zombies)
    {
      <partial name="_ZombieCard" model="item" />//Afficher tous les Zombies
    }
  </div>
</div>
@section Scripts{
  <script>
$(document).ready(function(){

    $(".filter-button").click(function(){

        var value = $(this).attr('data-filter');
        if(value == "all")
        {
            $('.filter').show('1000');
        }
        else
        {
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

});</script>
}