<div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary form-control">@SharedLocals["Create"]</button>
</div>
    <div class="col">
      <a asp-action="Index" class="btn btn-success form-control">@SharedLocals["Back to List"]</a>
</div>
</div>