@using MovieLand_Models.ViewModels
@model GenreDetailsVM

@{
    ViewData["Title"] = "Détails";
}


<div class="row actions-container center mb-5">
    <div class="col-1">
        <a asp-action="Index"><i class="bi bi-arrow-left-circle-fill text-white" title="Retour à la liste"></i></a>
    </div>
</div>
<div class="row genre-container justify-content-center align-items-center">
    <div class="col-6 genre-infos-wrapper" id="@Model.Id">
        <div class="row">
            <div class="col-12 title text-center">
                <span class="name">@Model.Name</span>
            </div>
        </div>
    </div>
</div>
<div class="row items-container">
    @foreach (MovieForListVM mlvm in Model.Movies)
    {
    <div class="col-2 item-wrapper mb-3" id="@mlvm.Id">
        <div class="card border-0 h-100" style="width:100%;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w185_and_h278_multi_faces/@mlvm.Poster" alt="@mlvm.Title">
        </div>
    </div>
    }
</div>