@using MovieLand_Models.ViewModels
@model IEnumerable<MovieForListVM>

@{
    ViewData["Title"] = "Films";
    ViewData["ShowActions"] = true;
}


<div class="row actions-container center">
    <div class="col-1">
        <a asp-action="Create"><i class="bi bi-plus-circle-fill text-white" title="Ajouter un nouveau film"></i></a>
    </div>
</div>
<div class="row items-container">
    @foreach (MovieForListVM mlvm in Model)
    {
        <partial name="_MovieForList" model="mlvm" view-data="ViewData" />
    }
</div>